*{
    margin: 0;
    padding: 0;
}

#frontp_grid_wrapper{
    background:gray;
    display:grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1000px 80px;
    grid-template-areas: 
    "ma"
    "fo";
}

#frontp_main{
    background:green;
    grid-area: ma;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px 500px;
    grid-template-areas: 
    "he"
    "us"
    "ls";
}

#up

#frontp_footer{
    background: blue;
    grid-area: fo;
}
